<section class="section section--pt-{{ padding_top | default(padding) | default('md') }} section--pb-{{ padding_bottom | default(padding) | default('md') }} section--color-{{ color | default('white') }} {{ class }}">
	{% block content %}{% endblock %}
</section>
<!-- /.section -->
