{% extends 'layouts/default.twig' %}

{% block content %}
    {% embed 'partials/section.twig' with { padding: 'sm' } %}
        {% block content %}
            <div class="container">
                {% include 'partials/newsletter.twig' %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'partials/section.twig' with { padding: 'xs' } %}
        {% block content %}
            <div class="container">
                {% include 'partials/posts/toolbar.twig' %}
            </div>
        {% endblock %}
    {% endembed %}

    {% include 'sections/posts.twig' %}
{% endblock %}
