/*
** Module - Copy
**
** Main copy/entry component styling typography and editor styles
** ----------------------------------------------------------------------------- */

.copy {
  @extend %type-copy-standard;

  @include breakpoint(lg) {
    font-size: 1.8rem;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @include spacer-relative;
      @extend %heading-h#{$i+1} !optional;

      + h1, + h2, + h3, + h4, + h5, + h6 {
        &:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }
  }

  p, ul, ol, table, address {
    overflow: hidden;

    &:not([class]) {
      @include spacer-relative;
    }
  }

  ul:not([class]), ol:not([class]) {
    padding-left: 1.5em;

    li {
      padding-left: 0.5em;

      &:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  ul:not([class]) {
    list-style-type: disc;
  }

  ol:not([class]) {
    list-style-type: decimal;
  }

  a {
    &:not([class]) {
      color: $color-blue;
      text-decoration: underline;

      &:hover {
        color: inherit;
      }
    }
  }

  em {
    color: $color-red;
    font-style: normal;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
  }
}
